.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


.section.cards-container{
  background-color: var(--backgroung-black-color);
  margin:0;
  padding: 6rem;
}

.section.cards-container  .default-content-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.section.cards-container .default-content-wrapper p {
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width:800px;
}

/* Text */
.section.cards-container  .default-content-wrapper p, 
.section.cards-container  .default-content-wrapper h2,
.section.cards-container  .cards li,
.section.cards-container  .cards-card-body {
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  color:white;
}

.section.cards-container .default-content-wrapper p, 
.section.cards-container .cards li,
.section.cards-container .cards-card-body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.section.cards-container .ancestry::after{
  content: "®";
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 0.1em;
}


/* Cards */
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards-wrapper .cards > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.cards-wrapper .cards div {
  max-width: 240px;
}

/* stylelint-disable-next-line no-descending-specificity */
.cards-wrapper .cards > ul > li {
  display: flex;
  border: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroung-black-color);
}

.cards-wrapper .cards .cards-card-body {
  text-align: center;
  font-size: 1rem;
}

.cards-wrapper .cards .leaf-background img,
.cards-wrapper .cards .dna-background img,
.cards-wrapper .cards .tree-pedigree-background img{
  display:none;
}

/* Button container */
.cards .button-container {
  margin-top: 16px;
}

.cards .button-container .button {
  font-weight: 700;
}

/* Icons */
.cards .icon {
  display: inline-block;
  margin: 0.5rem;
}

.icon-icon-leaf::before,
.icon-icon-dna::before,
.icon-icon-tree-pedigree::before {
  font-family: ancestry-icon, sans-serif;
  font-size: 15px;
  color: var(--icon-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon-icon-leaf,
.icon-icon-dna,
.icon-icon-tree-pedigree {
  background-color: var(--icon-background-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Leaf icon */
.icon-icon-leaf::before{
  content: "\e610";
}

.icon-icon-leaf {
  background-color: var(--icon-background-green-color);
}

.cards .leaf-background .button :hover{
  background-color: var(--button-green-hover-color);
}

.cards .leaf-background .button :active{
  background-color: var(--button-green-active-color);
}

/* DNA icon */
.icon-icon-dna::before {
  content: "\e607"; /* DNA icon content */
  font-size: 20px; /* Adjust the font size if needed */
}

.icon-icon-dna {
  background-color: var(--icon-background-blue-color);
}

.cards .dna-background .button {
  background-color: var(--icon-background-blue-color);
}

.cards .dna-background .button:hover {
  background-color: var(--button-blue-hover-color);
}

.cards .dna-background .button:active {
  background-color: var(--button-blue-active-color);
}

/* Tree Pedigree icon */
.icon-icon-tree-pedigree::before {
  content: "\e674";
  font-size: 15px;
  color: var(--backgroung-black-color);
}

.icon-icon-tree-pedigree {
  background-color: white;
  color: var(--footer-text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.cards .tree-pedigree-background .button {
  background-color: white;
  color: var(--footer-text-color);
}

.cards .tree-pedigree-background .button:hover {
  background-color: var(--button-white-hover-color);
}

.cards .tree-pedigree-background .button:active {
  background-color: var(--button-white-active-color);
}

@media (max-width: 900px) {
  .section.cards-container .default-content-wrapper{
    margin-bottom: 1rem;
  }

  .section.cards-container{
    padding: 2rem 3rem;
  }

  .cards-container .default-content-wrapper h2 {
    font-size: 1.8rem;
  }

  .cards-container .cards-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .cards-container .cards > ul > li {
    flex-direction: column;
  }

  .cards .button-container .button,
  .cards .cards-card-body,
  .cards-container p {
    font-size: 1rem ;
    margin:0.3rem;
  }
}

/* DNA */
.section.dna{
  background-image: url('../../icons/dna-bg-worldmap.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:3rem 1rem;
}

.section.dna .cards.mobile {
  display:none;
}

.section.dna.cards-container  .cards-card-body {
 color:var(--text-color);
}
main .section.dna > div{
 padding:0;
}

.section.dna .cards-wrapper .cards div {
  max-width:100%;
}

/* .section.dna .cards-wrapper .cards div {
  min-width:320px;
} */

.cards-container.dna .default-content-wrapper:first-of-type {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Fix for the button container */
.cards-container.dna .default-content-wrapper:first-of-type > p {
  position: absolute;
  top: -10px;
  right:30px;
  display: flex;
  gap: 10px;
  margin: 0;
}

.cards-container .default-content-wrapper:first-of-type > p a {
  display: inline-block;
  padding: 0.1rem 1rem;
  background-color: var(--button-gray-color);
  color: var(--text-color);
  border-radius: 32px;
  font-weight: 700;
  font-size: 1rem;
}

.cards-container .default-content-wrapper:first-of-type > p a:hover {
  background-color: var(--button-gray-hover-color);
  text-decoration: none;
}

.cards-container .default-content-wrapper:first-of-type > p a:active {
  background-color: var(--button-gray-active-color);
  text-decoration: none;
}

/* h1 */
.cards-container.dna .default-content-wrapper h1 {
  width: 100%;
  max-width: none;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size:3.5rem;
  padding-bottom:5rem;
}

.cards-container.dna .default-content-wrapper {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* Ancestry Trademark Symbol */
.cards-container.dna .ancestry::after {
  content: "®";
  font-size: 0.4em;
  vertical-align: top;
  position: relative;
  top: 0em;
  left: -0.4em;
}

.cards-container.dna .cards > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 18px;
  grid-row-gap: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards-container.dna .cards > ul > li {
  display: contents;
}

.cards-container.dna .cards-card-body {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding-top: 1rem;
  margin: 0;
  min-height: 100%;
}

.cards-container.dna .cards .item-2 .cards-card-body{
  padding:1rem;
}

.cards-container.dna .cards .item-2 .cards-card-body .content-wrapper {
  padding: 20px;
  border-radius: 10px;
}

.cards-container.dna .cards .cards-card-body .title {
  margin: 1rem 0.2rem 0 0.2rem;
  min-height: 80px;
  max-height:120px;
 }

.cards-container.dna .cards .cards-card-body .title h2 {
 font-size: 1.35rem;
 font-weight:700;
 font-family: ui-sans, "Helvetica Neue", Arial, sans-serif ;
 line-height: 1.5rem;
 margin:0;
}

.cards-container.dna .cards-card-body .title .ancestry::after {
  content: "®";
  font-size: 0.5em;
  vertical-align: top;
  position: relative;
  top: -0.7em;
  left: -0.4em;
}

.cards-container.dna .cards-card-body .product img {
  aspect-ratio: auto;
  width:75%;
  margin-bottom:1.5rem;
}


.cards-container.dna .cards-card-body .product .button-container{
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.cards-container.dna .cards-card-body .product .button-container a {
  margin:0;
  padding:0.8rem 0;
  width:90%;
  font-size:1.25em
}

.cards-container.dna .cards-card-body .product p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
}

/* dollar sign */
.cards-container.dna .cards-card-body .product p .dollar-sign {
  font-size: 2.2rem;
  align-self: flex-start;
  display: inline-block;
  position: relative;
  top: -1.2rem; 
}

.cards-container.dna .cards-card-body .product p .price {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

.cards-container.dna .cards-card-body .product p .price-asterisk {
  font-size: 2rem;
  margin-left: 0.1rem;
  position: relative;
  top: -1rem; 
}

.cards-container.dna .cards-card-body .detail {
  text-align: left;
  width: 100%;
}

.cards-container.dna .cards-card-body .detail p {
  color:var(--button-green-hover-color);
  margin-left:2rem;
}

.cards-container.dna .cards-card-body .detail .ancestry::after {
  content: "®";
  font-size: 0.5em;
  vertical-align: top;
  position: relative;
  top: 0.2em;
  left: -0.2em;
}

.cards-container.dna .cards-card-body .detail ul {
  padding-left:2rem;
  margin: 1rem 0; 
  list-style: none;

}

.cards-container.dna .cards-card-body .detail ul > li {
  color:#5c5c5c;
}

.cards-container.dna .cards-card-body .detail ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top:1.5rem;
}

.cards-container.dna .cards-card-body .detail ul li {
  position: relative;
  margin-bottom: 0.9rem;
  margin-left: 2rem;
  padding-right: 2rem;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

.cards-container.dna .cards-card-body .detail ul li:hover{
  text-decoration: underline;
}

.cards-container.dna .cards-card-body .detail > ul .info-icon::after{
  content: '\e63f';
  font-family: ancestry-icon;
  color: var(--link-active-color);
  font-size: 0.8rem;
  position: relative;
  padding-left:0.2rem;
}

.cards-container.dna .cards-card-body .detail ul li::after {
  content: '\e656';
  font-family: ancestry-icon;
  color: green;
  font-size: 1.2rem;
  position: absolute;
  padding-right:3rem;
  right: 0;
  bottom: 0;
  /* transform: translateY(0%); */
}

.cards-container.dna .cards-card-body .detail ul li strong {
  color:transparent;
}

.cards-container.dna .cards-card-body .detail ul li strong::before {
  content: '+';
  color: green;
  font-size: 0.7rem;
  position: absolute;
  right: 2.8rem;
  bottom: -0.1rem;
}

/* Last default content */
.cards-container.dna .default-content-wrapper:last-of-type {
  padding: 0;
  margin: 5rem auto;
  text-align: center;
}

.cards-container.dna .default-content-wrapper:last-of-type p {
  color:var(--text-color);
  font-size:0.8rem;
  margin-bottom: 1.5rem;
}

.cards-container .default-content-wrapper p + p {
  position: relative;
  padding-top: 1.5rem;
}

.cards-container .default-content-wrapper:last-of-type p + p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%; 
  height: 1px;
  background-color:rgba(0, 0, 0, 0.1) ;
}

.cards-container .default-content-wrapper:last-of-type p:first-child {
  position: relative;
}

.cards-container .default-content-wrapper:last-of-type p:first-child strong::before {
  font-family: 'ancestry-icon';
  content: '\e656';
  color: green;
  font-size: 1.5rem;
  position: relative;
}

.cards-container .default-content-wrapper:last-of-type p:first-child strong {
  color:transparent;
}

.cards-container .default-content-wrapper:last-of-type p:first-child strong::after {
  content: '+';
  color: green;
  font-size: 0.7rem;
  position: relative;
  left:-1rem;
}

.cards-container .default-content-wrapper:last-of-type p:last-child {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  position: relative;
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* Popup window */
.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  z-index: 1000;
  box-shadow: none;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-optical-sizing: auto;
  font-size: 30px;
  cursor: pointer;
}

.popup-title {
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 10px 0;
  /* font-optical-sizing: auto; */
  font-size: 1.5rem;
  font-weight: bold;
}

.popup-window h3 {
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1rem;
}

.popup-window img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.popup-window p {
  margin: 0;
  padding: 10px 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.cards-container.dna .expand a{
  font-weight: 600;
  text-decoration:underline;
}

ul {
  position: relative;
}

ul:hover {
  cursor: pointer;
}

.dialog-wrapper u {
  display: block;
  margin: 0;
  padding: 0;
}

.cards-card-body {
  cursor: default;
}

.whats-included, .button-container a {
  cursor: pointer;
}

/* The triangle for the dialog */
.dialog-wrapper ::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  z-index: 1002;
}

.dialog-wrapper {
  position: relative;
  padding: 15px;
  border: transparent;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  background-color: white;
}

.cards .dialog-wrapper .dialog-content li {
  color: var(--text-color);
  font-weight: 700;
}

.cards .dialog-wrapper .dialog-content u {
  text-decoration: none;
}

@media(min-width:1200px){
  .section.dna .cards-wrapper .cards div {
    max-width:100%;
  }
}

@media(max-width:1010px) {
  .section.dna.cards-container {
    padding: 1.5rem;
  }

  /* .section.dna .cards-wrapper .cards .cards-card-body {
    max-width:218px;
    min-width:200px;

  } */
  .section.dna .cards-wrapper .cards div {
    max-width: 100%;
  }

  .cards-container.dna .default-content-wrapper h1 {
    font-size: 2rem;
    max-width: 500px;
    padding-bottom: 2.8rem;
  }

  .cards-container.dna .cards .cards-card-body .title {
    margin-bottom: 0;
    min-height: 90px;
  }

  .cards-container.dna .cards .cards-card-body .title h2:not(:first-of-type) {
    font-size: 1rem;
  }

  .cards-container .default-content-wrapper:last-of-type p+p::before {
    left: 5%;
    width: 90%;
  }

  .cards-container.dna .cards-card-body .product p .dollar-sign {
    font-size: 1.5rem;
    top: -0.6rem;
  }

  .cards-container.dna .cards-card-body .product p .price {
    font-size: 2.2rem;
    top: -0.3rem;
  }

  .cards-container.dna .cards-card-body .product p .price-asterisk {
    font-size: 1.3rem;
    top: -0.6rem;
  }

  .cards-container.dna .cards-card-body .product .button-container a {
    padding: 0.6rem 0;
    width: 60%;
  }

  .cards-container.dna .cards-card-body .detail p,
  .cards-container.dna .cards-card-body .detail ul li {
    margin-left: 0.8rem;
    margin-right: 0.5rem;
  }

  .cards-container.dna .cards-card-body .detail ul li::after {
    padding-right: 0.5rem;
  }

  .cards-container.dna .cards-card-body .detail ul li strong::before {
    right: 0.3rem;
  }

  .cards-container .default-content-wrapper:last-of-type p:first-child::after {
    left: 1.3rem;
  }
}

@media(max-width:767px) {
  .section.dna.cards-container {
    background-image: none;
    background-color: white;
  }

  .section.dna.cards-container .cards.desktop {
    display: none;
  }

  .section.dna.cards-container .cards.mobile {
    display: block;
  }

  .section.dna.cards-container .cards.mobile .cards-card-body {
    background-color: #E7F0F1;
  }

  .section.dna.cards-container .cards-wrapper {
    flex-direction: column
  }

  .cards-container.dna .cards>ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards-container .cards>ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .cards-container .cards>ul>li:nth-child(1) .cards-card-body:nth-child(1),
  .cards-container .cards>ul>li:nth-child(2) .cards-card-body:nth-child(1),
  .cards-container .cards>ul>li:nth-child(3) .cards-card-body:nth-child(1) {
    order: 1;
  }

  .cards-container .cards>ul>li:nth-child(1) .cards-card-body:nth-child(2),
  .cards-container .cards>ul>li:nth-child(2) .cards-card-body:nth-child(2),
  .cards-container .cards>ul>li:nth-child(3) .cards-card-body:nth-child(2) {
    order: 2;
  }

  .cards-container .cards>ul>li:nth-child(1) .cards-card-body:nth-child(3),
  .cards-container .cards>ul>li:nth-child(2) .cards-card-body:nth-child(3),
  .cards-container .cards>ul>li:nth-child(3) .cards-card-body:nth-child(3) {
    order: 3;
  }
}