.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


.section.cards-container{
  background-color: var(--backgroung-black-color);
  margin:0;
  padding: 6rem;
}

.section.cards-container  .default-content-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.section.cards-container .default-content-wrapper p {
  text-align: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width:800px;
}

/* Text */
.section.cards-container  .default-content-wrapper p, 
.section.cards-container  .default-content-wrapper h2,
.section.cards-container  .cards li,
.section.cards-container  .cards-card-body {
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  color:white;
}

.section.cards-container .default-content-wrapper p, 
.section.cards-container .cards li,
.section.cards-container .cards-card-body {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.section.cards-container .ancestry::after{
  content: "®";
  font-size: 0.7em;
  vertical-align: super;
  margin-left: 0.1em;
}


/* Cards */
.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards-wrapper .cards > ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.cards-wrapper .cards div {
  max-width: 240px;
}

/* stylelint-disable-next-line no-descending-specificity */
.cards-wrapper .cards > ul > li {
  display: flex;
  border: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroung-black-color);
}

.cards-wrapper .cards .cards-card-body {
  text-align: center;
  font-size: 1rem;
}

.cards-wrapper .cards .leaf-background img,
.cards-wrapper .cards .dna-background img,
.cards-wrapper .cards .tree-pedigree-background img{
  display:none;
}

/* Button container */
.cards .button-container {
  margin-top: 16px;
}

.cards .button-container .button {
  font-weight: 700;
}

/* Icons */
.cards .icon {
  display: inline-block;
  margin: 0.5rem;
}

.icon-icon-leaf::before,
.icon-icon-dna::before,
.icon-icon-tree-pedigree::before {
  font-family: ancestry-icon, sans-serif;
  font-size: 15px;
  color: var(--icon-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon-icon-leaf,
.icon-icon-dna,
.icon-icon-tree-pedigree {
  background-color: var(--icon-background-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Leaf icon */
.icon-icon-leaf::before{
  content: "\e610";
}

.icon-icon-leaf {
  background-color: var(--icon-background-green-color);
}

.cards .leaf-background .button :hover{
  background-color: var(--button-green-hover-color);
}

.cards .leaf-background .button :active{
  background-color: var(--button-green-active-color);
}

/* DNA icon */
.icon-icon-dna::before {
  content: "\e607"; /* DNA icon content */
  font-size: 20px; /* Adjust the font size if needed */
}

.icon-icon-dna {
  background-color: var(--icon-background-blue-color);
}

.cards .dna-background .button {
  background-color: var(--icon-background-blue-color);
}

.cards .dna-background .button:hover {
  background-color: var(--button-blue-hover-color);
}

.cards .dna-background .button:active {
  background-color: var(--button-blue-active-color);
}

/* Tree Pedigree icon */
.icon-icon-tree-pedigree::before {
  content: "\e674";
  font-size: 15px;
  color: var(--backgroung-black-color);
}

.icon-icon-tree-pedigree {
  background-color: white;
  color: var(--footer-text-color);
}

/* stylelint-disable-next-line no-descending-specificity */
.cards .tree-pedigree-background .button {
  background-color: white;
  color: var(--footer-text-color);
}

.cards .tree-pedigree-background .button:hover {
  background-color: var(--button-white-hover-color);
}

.cards .tree-pedigree-background .button:active {
  background-color: var(--button-white-active-color);
}

@media (max-width: 900px) {
  .section.cards-container .default-content-wrapper{
    margin-bottom: 1rem;
  }

  .section.cards-container{
    padding: 2rem 3rem;
  }

  .cards-container .default-content-wrapper h2 {
    font-size: 1.8rem;
  }

  .cards-container .cards-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .cards-container .cards > ul > li {
    flex-direction: column;
  }

  .cards .button-container .button,
  .cards .cards-card-body,
  .cards-container p {
    font-size: 1rem ;
    margin:0.3rem;
  }
}

/* DNA */
.section.dna{
  background-image: url('../../icons/dna-bg-worldmap.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .section.dna > div{
 padding:0;
}

.section.dna .cards-wrapper .cards div {
  min-width:320px;
}

.cards-container.dna .default-content-wrapper:first-of-type {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Fix for the button container */
.cards-container.dna .default-content-wrapper:first-of-type > p {
  position: absolute;
  top: -40px;
  right:80px;
  display: flex;
  gap: 10px;
  margin: 0;
}

.cards-container .default-content-wrapper:first-of-type > p a {
  display: inline-block;
  padding: 0.1rem 1rem;
  background-color: var(--button-gray-color);
  color: var(--text-color);
  border-radius: 32px;
  font-weight: 700;
  font-size: 1rem;
}

.cards-container .default-content-wrapper:first-of-type > p a:hover {
  background-color: var(--button-gray-hover-color);
  text-decoration: none;
}

.cards-container .default-content-wrapper:first-of-type > p a:active {
  background-color: var(--button-gray-active-color);
  text-decoration: none;
}

/* h1 */
.cards-container.dna .default-content-wrapper h1 {
  width: 100%;
  max-width: none;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size:3.5rem;
  padding-bottom:5rem;
  -webkit-font-smoothing: antialiased;
}

.cards-container.dna .default-content-wrapper {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* Ancestry Trademark Symbol */
.cards-container.dna .ancestry::after {
  content: "®";
  font-size: 0.4em;
  vertical-align: top;
  position: relative;
  top: 0em;
  left: -0.4em;
}

.cards-container.dna .cards > ul {
  color: transparent;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.cards-container.dna .cards > ul > li {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.cards-container.dna .cards .cards-card-body {
  background-color: white;
  border-radius: 10px;;
  color: var(--text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: start;
  align-items: center;
  flex-grow: 1;
  min-height: 100%;
}

.cards-container.dna .cards .cards-card-body .title {
  margin:1rem;
  min-height: 50px;
 }

.cards-container.dna .cards .cards-card-body .title h2 {
 font-size: 1.35rem;
 font-weight:700;
 font-family: ui-sans, "Helvetica Neue", Arial, sans-serif ;
 line-height: 1.5rem;
 margin:0;
}

.cards-container.dna .cards-card-body .title .ancestry::after {
  content: "®";
  font-size: 0.5em;
  vertical-align: top;
  position: relative;
  top: -0.7em;
  left: -0.4em;
}

.cards-container.dna .cards-card-body .product img {
  width:70%;
  margin-bottom:1.5rem;
}


.cards-container.dna .cards-card-body .product .button-container{
  margin-top:0.5rem;
  margin-bottom:1rem;
}

.cards-container.dna .cards-card-body .product .button-container a {
  margin:0;
  padding:0.8rem 0;
  width:90%;
  font-size:1.25em
}

.cards-container.dna .cards-card-body .product p {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
  margin: 0;
  text-align: center;
  font-weight: 700;
}

/* dollar sign */
.cards-container.dna .cards-card-body .product p .dollar-sign {
  font-size: 2.2rem;
  align-self: flex-start;
  display: inline-block;
  position: relative;
  top: -1.2rem; 
}

.cards-container.dna .cards-card-body .product p .price {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
}

.cards-container.dna .cards-card-body .product p .price-asterisk {
  font-size: 2rem;
  margin-left: 0.1rem;
  position: relative;
  top: -1rem; 
}

.cards-container.dna .cards-card-body .detail {
  text-align: left;
  width: 100%;
  margin-top: 3rem;
}

.cards-container.dna .cards-card-body .detail p {
  color:var(--button-green-hover-color);
  margin-left:2rem;
}

.cards-container.dna .cards-card-body .detail .ancestry::after {
  content: "®";
  font-size: 0.5em;
  vertical-align: top;
  position: relative;
  top: 0.2em;
  left: -0.2em;
}

.cards-container.dna .cards-card-body .detail ul {
  padding-left:2rem;
  margin: 1rem 0; 
  list-style: none;

}

.cards-container.dna .cards-card-body .detail ul > li {
  color:#5c5c5c;
}

.cards-container.dna .cards-card-body .detail ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top:1.5rem;
}

.cards-container.dna .cards-card-body .detail ul li {
  position: relative;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left:2rem;
}

.cards-container.dna .cards-card-body .detail ul li::after {
  font-family: ancestry-icon;
  content: '\e656';
  color: green;
  font-weight:700;
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  top: 0;
  transform: translateY(-0.4rem);
}

.cards-container.dna .cards-card-body .detail ul li strong{
  color:transparent;
}

.cards-container.dna .cards-card-body .detail ul li strong::before {
  content: '+';
  color: green;
  font-size: 0.7rem;
  position: absolute;
  right: 1.9rem;
  bottom: 0;
}

/* Last default content */
.cards-container.dna .default-content-wrapper:last-of-type {
  padding: 0;
  margin: 5rem auto;
  text-align: center;
}

.cards-container.dna .default-content-wrapper:last-of-type p {
  color:var(--text-color);
  font-size:0.8rem;
  margin-bottom: 1.5rem;
}

.cards-container .default-content-wrapper p + p {
  position: relative;
  padding-top: 1.5rem;
}

.cards-container .default-content-wrapper:last-of-type p + p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%; 
  height: 1px;
  background-color:rgba(0, 0, 0, 0.1) ;
}

.cards-container .default-content-wrapper:last-of-type p:first-child {
  position: relative;
}

.cards-container .default-content-wrapper:last-of-type p:first-child::before {
  font-family: 'ancestry-icon';
  content: '\e656';
  color: green;
  font-size: 1.5rem;
  margin-right: 10px;
  position: relative;
}

.cards-container .default-content-wrapper:last-of-type p:first-child::after {
  content: '+';
  color: green;
  font-size: 0.7rem;
  position: absolute;
  top: 0.6rem;
  left: 3rem;
  transform: translate(50%, 50%);
}

.cards-container .default-content-wrapper:last-of-type p:last-child {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  position: relative;
}
