.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* Homepage */

/* Clear the padding and margin at homepage */
main .section.columns-container{
  margin:0;
}

main .section.columns-container > div{
  padding:0;
  margin:0;
  max-width:none;
}

/* Text Styling */
.columns.homepage h2 {
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
}

/* First h2 in .text-content: margin-top only, no margin-bottom */
.text-content h2:first-of-type {
  margin-top: 0.5em;
  margin-bottom: 0;
}

.columns .text-content .trademark {
  font-size: 0.4em;
  position: relative;
}

/* Last h2 in .text-content: margin-bottom only, no margin-top */
.text-content h2:last-of-type {
  margin-bottom: 1rem;
  margin-top: 0;
}

/* h2 in between: no margin */
.text-content h2:not(:first-of-type, :last-of-type) {
  margin: 0;
}

.columns.homepage .text-content h3 {
  color: var(--text-gray-color);
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.columns.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 10rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.columns.testimonial p:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/icons/quote-left.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -40px;
  z-index: 1;
}

.columns.testimonial p:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("/icons/quote-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10px;
  right: -40px;
  z-index: 1;
}

.columns.testimonial p {
  padding :0 3rem;
  font-size: 1.8rem;
  font-weight: 700;
  max-width :1200px;
  color:var(--text-gray-dark-color);
}

.columns.testimonial p:nth-of-type(2) {
  padding-left: 50px;;
  padding-right: 50px;
  position: relative;
}

.columns.testimonial .columns-img-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns.testimonial > div > .columns-img-col img {
  min-width: 120px;
}

/* Block styleing */
.columns.homepage.columns-2-cols > div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.columns.homepage.columns-2-cols .text-content {
  order: 1;
  width: 100%;
}

.columns.homepage.columns-2-cols .text-content img{
  width: 200%;
  max-width: 400px;
  height: auto;
  display:none;
}

.columns.homepage.columns-2-cols .columns-img-col {
  order: 3;
  width: 100%;
}

.columns.homepage.columns-2-cols .columns-img-col img {
  max-width: 100%;
  height: auto;
}

/* Full-width colored background */
.columns.homepage.columns-2-cols > div.bg-color-1::before,
.columns.homepage.columns-2-cols > div.bg-color-2::before,
.columns.homepage.columns-2-cols > div.bg-color-3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

/* Button with blue background in blue bg */
.section.section-pale-blue-lighter .columns.homepage.block .button{
 background-color: var(--button-blue-color);
}

.section.section-pale-blue-lighter .columns.homepage.block .button:hover {
  background-color: var(--button-blue-hover-color);
}

.section.section-pale-blue-lighter .columns.homepage.block .button:active {
  background-color: var(--button-blue-active-color);
}

.section.multiple-columns.columns-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.section.multiple-columns.columns-container .columns-wrapper {
  flex: 1;
  max-width: 460px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 2rem 0;
}

.section.multiple-columns.columns-container .columns {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.section.multiple-columns.columns-container .columns.biege {
  background-color: #FAF9F7;
}

.section.multiple-columns.columns-container .columns.warm-gray {
  background-color: #F6F3F0;
}

.section.multiple-columns.columns-container .columns-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.section.multiple-columns.columns-container .columns-wrapper h2, 
.section.multiple-columns.columns-container .columns-wrapper p {
  text-align: center;
  padding: 0.5em 1.2em;
  font-family: var(--font-family);
}

.section.multiple-columns.columns-container .columns-wrapper h2 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.section.multiple-columns.columns-container .columns-wrapper p {
  font-size: 0.8em;
}

.section.multiple-columns.columns-container .columns-wrapper .button-container {
  margin-top: auto;
  cursor: pointer;
}

.section.multiple-columns.columns-container .columns .youtube-thumbnail {
  border-radius: 20px;
  padding: 1rem;
  width: 90%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.section.multiple-columns.columns-container .columns .columns-img-col picture {
  max-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.section.multiple-columns.columns-container .columns .columns-img-col picture img {
  max-height: 100%;
  width: auto;
}

/* Mobile-specific adjustments */
@media (max-width: 899px) {
  .columns.testimonial{
    padding: 5rem;
  }

  .columns.testimonial::before {
    width: 80px;
    height: 80px;
    top: 8rem;
    left: 3rem;
  }
  
  .columns.testimonial::after {
    bottom: 8rem;
    right: 3rem;
  }

  .columns.homepage.block.columns-2-cols > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:2rem;
    font-size: 1.1rem;
    line-height:1.5rem;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content {
    order: 1;
    padding: 0 10px;
  }

  /* Hide icons in mobile */
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-wrapper{
    display:none;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content img {
    display:none;
  }

  .columns.homepage.block.columns-2-cols > div .button {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    margin: 1.5rem auto;
    font-size: 1rem;
  }
  
  .columns.homepage.block.columns-2-cols > div > .columns-img-col img {
    order:3;
    width: 70%;
    height: auto;
    margin: 0 auto;
    max-width:300px;
    min-width: 200px;
  }
}

/* Tablet and Desktop Styles */
@media (min-width: 900px) {
  .columns.homepage.block.columns-2-cols > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 2rem;
    padding: 4rem 2rem;;
  }

  /* Alternate layout for even and odd rows */
  .columns.homepage.block.columns-2-cols > div:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .columns.homepage.block.columns-2-cols > div:nth-child(even) {
    flex-direction: row;
  }

  .section.row .columns.homepage.block.columns-2-cols > div {
    flex-direction: row;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 450px;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-leaf {
    background-color: var(--icon-background-green-color);
    border-width: 0;
    border-color: var(--icon-background-green-color);
    box-shadow: 0 0 0 0 var(--icon-background-green-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-leaf::before {
    font-family: ancestry-icon, sans-serif;
    content: "\e610";
    color: var(--icon-font-color);
    font-size: 15px;
    text-align: center;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-dna{
    background-color: var(--icon-background-blue-color);
    border-width: 0;
    border-color: var(--icon-background-blue-color);
    box-shadow: 0 0 0 0 var(--icon-background-blue-color);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-dna::before {
    font-family: ancestry-icon, sans-serif;
    content: "\e607";
    color: var(--icon-font-color);
    font-size: 15px;
    text-align: center;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content h2 {
    max-width: 100%;
  }

  .columns.homepage.block.columns-2-cols > div > .columns-img-col {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
  }

  .columns.homepage.block.columns-2-cols > div > .columns-img-col img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content p {
    font-size: 1.15rem;
  }
}

/* Columns between cards and footer at homepage */
.columns.footer.block.columns-3-cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-gray-dark-color);
  position: relative;
}

.columns.footer.block.columns-3-cols::before {
  content: none;
}

.columns.footer.block.columns-3-cols .text-content p {
  margin: 0;
}

.section .columns.footer.block.columns-3-cols .button-container .button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #36322d;
  font: inherit;
  text-align: left;
  display: inline;
  -webkit-font-smoothing: antialiased;
}

.section .columns.footer.block.columns-3-cols .button:hover,
.section .columns.footer.block.columns-3-cols .button:active,
.section .columns.footer.block.columns-3-cols .button:focus {
  background-color: transparent;
  color: var(--button-blue-active-color);
  text-decoration: underline;
  outline: none; 
}

.columns.footer.block.columns-3-cols > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4em;
  width: 100%;
}

@media (max-width: 750px) {
  .columns.testimonial {
    display:none;
  }

  .columns.footer.block.columns-3-cols > div {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .columns.footer.block.columns-3-cols .text-content {
    max-width: 100%;
    margin-bottom: 20px; 
    text-align: center;
  }

  .columns.footer.block.columns-3-cols .text-content p {
    padding: 0;
  }
  
  .section.multiple-columns.columns-container {
    flex-direction: column;
    align-items: center;
  }

  .section.multiple-columns.columns-container .columns-wrapper {
    max-width: 100%;
    margin:0;
    padding:0;
  }
}
