.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Homepage */

/* Text Styling */
.columns.homepage h2 {
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}

.columns.homepage .text-content h2:last-of-type {
  margin-bottom: 2rem;
}

.columns.homepage .text-content h3 {
  color: gray;
  font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.95rem;
  margin-bottom: 1.8rem;
}

/* Trademark Symbol */
.columns.homepage.block.columns-2-cols .ancestry::after {
  content: "®";
  font-size: 0.5em;
  vertical-align: super;
  font-family: Arial, sans-serif;
}

/* Mobile Base Styles */
.columns.homepage.block.columns-2-cols > div {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.columns.homepage.block.columns-2-cols > div > .text-content {
  order: 1;
  width: 100%;
}

.columns.homepage.block.columns-2-cols > div > .text-content img{
  width: 200%;
  max-width: 400px;
  height: auto;
  display:none;
}

.columns.homepage.block.columns-2-cols > div > .columns-img-col {
  order: 3;
  width: 100%;
}

.columns.homepage.block.columns-2-cols > div > .columns-img-col img {
  max-width: 100%;
  height: auto;
}

/* Create full-width background using pseudo-elements for the second and last div */
.columns.homepage.block.columns-2-cols > div:nth-child(2)::before,
.columns.homepage.block.columns-2-cols > div:last-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #f3f7f8;
  z-index: -1;
}

/* Different background color for the last child */
.columns.homepage.block.columns-2-cols > div:last-child::before {
  background-color: #fbfaf7;
}

.columns.homepage.block.columns-2-cols > div:nth-child(2),
.columns.homepage.block.columns-2-cols > div:last-child {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
}

.columns.homepage.block.columns-2-cols > div:nth-child(2) .button{
 background-color: #117fa6;
}

/* Mobile-specific adjustments */
@media (max-width: 767px) {
  .columns.homepage.block.columns-2-cols > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0.5rem;
    padding: 1.5rem 1rem;
    font-family: ui-sans, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1rem;
    line-height:1.5rem;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content {
    order: 1;
    padding: 0 10px;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content img {
    display:none;
  }

  .columns.homepage.block.columns-2-cols > div .button {
    display: block;
    width: 100%;   
    max-width: 300px;
    text-align: center;
    padding: 0.35em 0;
    box-sizing: border-box;
    margin: 1rem auto;
    font-size: 0.8em;
  }
  
  .columns.homepage.block.columns-2-cols > div > .columns-img-col img {
    order:3;
    width: 50%;
    height: auto;
    margin: 0 auto;
    min-width: 200px;
  }
}

/* Tablet and Desktop Styles (768px and above) */
@media (min-width: 768px) {
  .columns.homepage.block.columns-2-cols > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    gap: 2rem;
    padding: 3.5rem 2rem;;
  }

  /* Alternate layout for even and odd rows */
  .columns.homepage.block.columns-2-cols > div:nth-child(odd) {
    flex-direction: row;
  }

  .columns.homepage.block.columns-2-cols > div:nth-child(even) {
    flex-direction: row-reverse;
  }

  /* Adjusted Flex Values */
  .columns.homepage.block.columns-2-cols > div > .text-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    padding: 0 1rem;
  }

  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-leaf {
    background-color: #328800;
    border-width: 0;
    border-color: #328800;
    box-shadow: 0 0 0 0 #328800;
    margin: 0.3rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-leaf::before {
    font-family: ancestry-icon, sans-serif;
    content: "\e610";
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-dna {
    background-color: #117fa6;
    border-width: 0;
    border-color: #117fa6;
    box-shadow: 0 0 0 0 #117fa6;
    margin: 0.3rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .columns.homepage.block.columns-2-cols > div > .text-content .icon-icon-dna::before {
    font-family: ancestry-icon, sans-serif;
    content: "\e607";
    color: #fff;
    font-size: 15px;
    text-align: center;
  }

  .columns.homepage.block.columns-2-cols > div > .columns-img-col {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 400px;
  }

  .columns-img-col img {
    max-width: 100%;
    height: auto;
  }

  /* Adjust font size for larger screens */
  .columns.homepage .text-content p {
    font-size: 1.15rem;
  }
}
