/* General Styles for All Banners */
main .section.hero-banner-container {
    display: flex;
    flex-direction: column;
    background: var(--hero-banner-background-color);
    overflow: hidden;
    margin:0;
}

.hero-banner-wrapper {
    display: none;
}

.hero-banner {
    color: var(--text-h1-color);
    font-size: 0.8rem;
    letter-spacing: 0.03em;
    line-height: 1.33;
}

.hero-banner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    height: 100%;
    flex-grow: 1;
}

.hero-banner > div > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-banner h1 {
    color: var(--text-h1-color);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* General margins for when there's only one h1 */
.hero-banner h1:only-of-type {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* Apply to h1s that are neither first nor last, when there's more than one h1 */
.hero-banner h1:not(:first-of-type, :last-of-type) {
    margin: 0;
}

/* Apply to the first h1 only when there is more than one h1 */
.hero-banner h1:first-of-type:not(:only-of-type) {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

/* Apply to the last h1 only when there is more than one h1 */
.hero-banner h1:last-of-type:not(:only-of-type) {
    margin-bottom: 2rem;
    margin-top: 0;
}

/* Icon Styles */
.hero-banner .icon::before{
    font-family:ancestry-icon, sans-serif;
    content: "\e685";
    color:#9BBE3C;
    font-size:2.5rem;
    text-align:center;
    font-weight:400;
}

.hero-banner .icon.icon-icon-acom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-banner .icon.icon-icon-acom img {
    max-width: none;
    width: 3rem;
    height: 3rem;
    display: none;
}

/* Button Styles */
.hero-banner a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.hero-banner a.button {
    padding: 0.7em 1.5em;
    font-size: 1rem;
    line-height: 1.25;
}

/* Ancestry Trademark Symbol */
.hero-banner .ancestry::after {
    content: "®";
    font-size: 0.6em;
    vertical-align: top;
    position: relative;
    top: -0.1em;
}

/* Responsive Styles */

/* Mobile */
@media (max-width: 600px) {
/* Image Wrapper Styles */
    .hero-banner .image-wrapper {
        width: 100%;
        height: 200px;
        max-width: 350px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .hero-banner .image-wrapper::before {
        display: none;
    }

    .hero-banner .image-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-banner.mobile-banner > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .hero-banner-wrapper.mobile-banner-wrapper {
        margin-top: 0;
        display: block;
    }

    .hero-banner.mobile-banner > div > div {
        margin: 0 0.5rem;
        width: 100%;
    }

    /* Hide Icon on Mobile */
    .hero-banner .icon,
    .hero-banner .icon::before,
    .hero-banner .icon.icon-icon-acom img {
        display: none !important;
    }

    /* Adjust Text Styles */
    .hero-banner h1 {
        font-size: 2rem;
        font-weight:400;
        margin: 0;
        width: 100%;
        max-width: 480px;
        min-height:120px;
    }

    /* General margins for when there's only one h1 */
    .hero-banner h1:only-of-type {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .hero-banner h1:last-of-type:not(:only-of-type) {
        margin-bottom: 1rem;
    }

    .hero-banner p {
        font-size: 0.9em;
        letter-spacing: 0.05em;
        width: 100%;
        max-width: 360px;
        margin: 0.5rem auto;
    }

    .hero-banner a.button {
        padding: 0.6em 1.5em;
        font-size: 0.9rem;
    }

    .hero-banner p:last-of-type {
        font-size: 0.8em;
        margin-bottom: 2rem;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
    main .section.hero-banner-container {
        height: 700px;
    }

    .hero-banner.tab-banner > div {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top:2rem;
    }

    .hero-banner.tab-banner > div > div:first-child {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .hero-banner.tab-banner > div > div:last-child {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        height: 100%;
    }

    .hero-banner.tab-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .hero-banner p:last-of-type {
        font-size: 0.9em;
        margin-bottom: 1.8rem;
    }

    .tab-banner-wrapper {
        display: block;
    }
}


/* Desktop */
@media (min-width: 901px) {
    .section.hero-banner-container {
        height: 700px;
    }

    .desktop-banner-wrapper {
        display: block;
        overflow: hidden;
    }

    .hero-banner.desktop-banner {
        width: 100%;
    }

    .hero-banner.desktop-banner > div {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    .hero-banner.desktop-banner > div > div:first-child {
        width: 490px;
        padding:2rem;
        margin: 2rem;
    }
    
    .hero-banner.desktop-banner > div > div p {
        width: 360px;
    }

    .hero-banner.desktop-banner > div > div:last-child {
        width: 700px;
    }

    .hero-banner.desktop-banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
