/* Base styling for the carousel container and wrapper */
.section.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #d9e7d4;
  font-size: 1.8rem;
  position: relative;
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  min-height: 300px;
}

.carousel-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-height: 500px; /* Set a minimum height */
}

/* Carousel items (individual slides) */
.carousel.block > div {
  display: none;
  transition: opacity 0.5s ease;
  width: 100%;
  z-index: 1;
}

.carousel.block > div.active {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Content within each carousel slide */
.carousel.block > div > div {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 3rem;
  position: relative;
}

.carousel.block > div > div::before,
.carousel.block > div > div::after {
  content: none;
}

/* Add left and right quotes to the carousel block */
.carousel.block::before {
  content: url('../../icons/quote-left.png');
  position: absolute;
  top: 20%;
  left: 5%;
  width: 50px;
  height: auto;
  z-index: 2;
}

.carousel.block::after {
  content: url('../../icons/quote-right.png');
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 50px;
  height: auto;
  z-index: 2;
}

/* Icon styling */
.carousel .icon {
  display: inline-block;
  margin: 0.5rem;
  width: 6rem;
  height: auto;
}

.carousel .icon img {
  display: inline-block;
  max-width: 100%;
}

/* Paragraph styling */
.carousel.block p {
  text-align: center;
  margin: 0.5rem 1rem;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  color: #181a1c;
}

.carousel.block p:last-of-type {
  font-weight: 500;
  font-size: 1.1rem;
}

/* Indicators styling */
.carousel.block .indicators {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  z-index: 3;
}

.carousel.block .indicators li {
  list-style: none;
  width: 12px;
  height: 12px;
  background-color: var(--dark-color);
  border-radius: 1rem;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel.block .indicators li.active {
  background-color: var(--text-color);
}

.carousel.block .indicators li:hover {
  background-color: var(--light-color);
}

/* Carousel navigation buttons (Previous/Next) */
.carousel-actions {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 4;
}

.carousel-actions button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  pointer-events: all;
}

.carousel-actions .previous::before,
.carousel-actions .next::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: var(--light-color);
}

.carousel-actions .previous::before {
  mask-image: url('../../icons/arrow-prev.svg');
}

.carousel-actions .next::before {
  mask-image: url('../../icons/arrow-next.svg');
}

/* Hide navigation buttons and indicators when there's only one slide */
.carousel-wrapper.single-slide .carousel-actions,
.carousel-wrapper.single-slide .indicators {
  display: none;
}

/* Hide carousel container on smaller screens */
@media (max-width: 900px) {
 .section.carousel-container {
  display:none;
 }
}
