.section.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.section.modal.carousel-container {
  padding: 0;
}

.carousel-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
}

.section.small .carousel {
  min-height: 400px;
}

.carousel > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.carousel > div.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.carousel > div.previous,
.carousel > div.next {
  opacity: 0.9;
  visibility: visible;
  z-index: 1;
}

.carousel picture img {
  width: auto;
  height: auto;
  max-width: 90%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.carousel .icon {
  display: inline-block;
  margin: 0.5rem;
  width: 6rem;
  height: auto;
}

.carousel .icon img {
  display: inline-block;
  max-width: 100%;
}

.carousel.block p {
  text-align: center;
  margin: 0.5rem 1rem;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  color: #181a1c;
}

.carousel.block p:last-of-type {
  font-weight: 500;
  font-size: 1.1rem;
}

.carousel .button-container {
  text-align: center;
  width: 100%;
  white-space: normal;
  overflow: visible;
  margin-top: auto;
}

.carousel .button-container .button {
  margin: auto;
  font-weight: 700;
  overflow: visible;
  white-space: wrap;
  width: auto;
  word-break: keep-all;
  margin-bottom: 0.5rem;
}

.carousel.block .button-container a {
  background-color: var(--button-blue-color);
}

.carousel.block .button-container a:hover {
  background-color: var(--button-blue-hover-color);
}

.carousel.block .button-container a:active {
  background-color: var(--button-blue-active-color);
}

.carousel-actions {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
  z-index: 4;
}

.carousel-actions button {
  background-color: #e2e0dd;
  border: none;
  padding: 0;
  cursor: pointer;
  pointer-events: all;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.carousel-actions .previous::before,
.carousel-actions .next::before {
  font-family: ancestry-icon, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #383838;
  background-color: transparent;
}

.carousel-actions .previous::before {
  content: "\e620";
}

.carousel-actions .next::before {
  content: "\e61f";
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 3;
}

.carousel-indicators .dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: none;
  transition: background-color 0.3s;
}

hlx-aria-modal .carousel-indicators .dot {
  display: none;
}

[data-popup-content*="small"] .carousel-indicators .dot {
  display: block;
}

.carousel-indicators .dot.active,
.carousel-indicators .dot:focus {
  background-color: #b8d94c;
}

.carousel-wrapper.single-slide .carousel-actions,
.carousel-wrapper.single-slide .carousel-indicators {
  display: none;
}

.section .carousel .next h1,
.section .carousel .previous h1,
.section .carousel .next h2,
.section .carousel .previous h2 {
  color: transparent;
}

.section.section-dark-gray {
  background-color: #2d3136;
  padding: 0 2rem;
}

.section.section-dark-blue {
  background-color: #022e50;
}

.section.section-dark-gray .carousel h2 {
  font-family: ui-sans, 'Helvetica Neue', Arial, sans-serif;
  color: #a9a9a9;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.section.section-dark-blue .carousel h2 {
  font-family: ui-sans, 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.section.section-dark-gray .carousel strong {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.section.section-dark-blue .carousel p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  max-width: 80%;
  margin: auto;
  padding: 0.5rem 0;
}

.section.section-dark-gray .carousel p:not(:has(picture)) {
  color: white;
  font-size: 0.6em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  max-width: 80%;
  margin: auto;
}

@media (max-width: 900px) {
  .section.carousel-container.desktop {
    display: none;
  }

  .section.carousel-container.mobile {
    display: block;
  }

  .section.section-dark-gray .carousel h2 {
    font-size: 1.2em;
    margin: 2rem;
  }

  .carousel {
    min-height: 580px;
  }

  .section.section-dark-gray .carousel p strong {
    font-size: 1.5em;
  }

  .section.section-dark-gray .carousel p:not(:has(picture)) {
    font-size: 0.6em;
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .carousel {
    min-height: 430px;
  }

  .section.small .carousel {
    min-height: 330px;
  }

  .section.section-dark-gray .carousel p:not(:has(picture)) {
    font-size: 0.5em;
    max-width: 80%;
    line-height: 1.3;
  }

  .section.section-dark-gray .carousel h2 {
    font-size: 1rem;
    margin: 2rem;
  }
}
